<html>
<head>
	<title>Helping Hand</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
	<link href="https://fonts.googleapis.com/css?family=Monoton|Noto+Serif+JP:900|Sen&display=swap" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="landing.css">
</head>
<body>
	<div id="cont">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
				    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        			<span class="sr-only">Toggle navigation</span>
	        			<span class="icon-bar"></span>
	        			<span class="icon-bar"></span>
	        			<span class="icon-bar"></span>
	      			</button>
					<a href="\" class="navbar-brand" style="color:skyblue;">
						<img width="40px" src="https://cfncw.org/wp-content/uploads/2015/04/helping-hands-bg.png" alt="">
	          <span id="head">HelpingHands</span>
	          <span id="subhead">Saluting Corona Warriors</span>
					</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="\volunteer">Volunteering</a></li>
						<li><a href="\donate">Donation</a></li>
						<li><a href="\blogs">Blogs</a></li>
					</ul>
				</div>
			</div>
		</nav>
	 	<img src="https://www.healthshots.com/wp-content/uploads/2020/07/doc-day.jpg" id="mimg">
	 	<div id="heading">WARRIORS OF COVID'19</div>
	 	<h1>Facts</h1>
	 	<div class="cover1">
	 	   <div class="text1">
				 <div class="row">
					 <div class="container">
						 <div class="col-md-4">
							 <b>TOTAL CASES</b><br>
							 <%= total %>
						 </div>
						 <div class="col-md-4">
							 <b>ACTIVE CASES</b><br>
							 <%= today %>
						 </div>
						 <div class="col-md-4">
							 <b>DEATHS</b><br>
							 <%= death %>
						 </div>
					 </div>
				</div>
				<br>
				 <p>The coronavirus outbreak has brought the world to a standstill. With businesses around the world shutting shop, the economy taking a severe hit and most countries being in lockdown, all of us are fighting Covid-19 the best way we can.
					 However, in this pandemic, the medical community including doctors, nurses and the medical staff are the warriors who are fighting this disease on the frontlines and are putting their lives at risk to keep us safe.
				</p>
				<p>
					The warriors of Covid'19 stepped out each day from home risking theirs as well as their family's lives. Their families were also ill treated because of the fear of corona.
					Several photos and videos also flooded on Internet of people misbehaving with the family's of doctors. But despite everything our superheroes never gave up and saved millions of lives.
				</p>
				<p>
					Many of us after seeig so many efforts of the Covid'19 warriors wanted to help them. So the aim of HelpingHand is to provide you the platform to help ‘coronavirus helpers’, like doctors, nurses, social workers and others who are ensuring delivery of essential goods and services.
  	 	</div>
  	</div>
    <div class="blackb">
      <div class="container">
        <h1>What Are We Doing?</h1>
				<br>
        <img src="https://static.toiimg.com/photo/imgsize-1137428,msid-74649121/74649121.jpg" class="full" alt="">
				<div class="row" style="text-align:center;">
					<div class="container">
						<div class="col-md-4">
							<i style="font-size:35px" class="fas fa-users"></i>
							<br><b style="font-size:20px;">31<br>VOLUNTEERS</b><br>registered
						</div>

						<div class="col-md-4">
							<i style="font-size:35px" class="fas fa-hand-holding-medical"></i>
							<br><b style="font-size:20px;">17<br>DONATIONS</b><br>made till now
						</div>
						<div class="col-md-4">
							<i style="font-size:35px" class="fas fa-blog"></i>
							<br><b style="font-size:20px;">17<br>BLOGS</b><br>written
						</div>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-sm-6">
						HelpingHand's motive is to help people through-out the world by providing a platform to contact the needy directly. The motive of this website is to let people help the frontlines warriors of Covid'19 in any possible way they can. People can donate anything they want, volunteer themselves in hospitls or other needed places, or spread awarness through blogs.
						<br><b>Volunteering - </b>Here we provide volunteers a platform to register themselves and transfer the information provided to various trusted NGOs(Non-Governmental Organisation). The NGOs will coordinate the volunteers and will help them set timings according to the volunteer's own convenience.
						The volunteers will be engaged in a survey of suspected cases, surveillance and management of isolation cases, helpline assistance, assistance to senior citizens, any assistance for government and temporary hospitals and training and capacity building of officials and volunteers on COVID-19 response.
					</div>
					<div class="col-sm-6">
						<b>Donation - </b>HelpingHand has opened individual donations for you to make a difference. You can donate anything from masks to PPE kits. All the donations would be provided to Covid'19 warriors. Any Covid'19 warrior can request donation by providing appropriate documents. Hence all your donations would reach directly to warriors to help them fight against this crisis.
						<br><b>Blogs - </b>Misinformation and a lack of information during a health crisis can spread paranoia, fear, and stigma, and result in people not being protected or doing things that can hurt themselves
and others. The outbreak has also left many people feeling worried, isolated, lonely
and stressed. More than ever, we all need to raise awareness, build solidarity,
support each other, and be kind. Hence spreading information about Covid'19 crisis is equally important. Therefore, we have opened a portal for you to write your point of views and spread the right messages through out the world.
					</div>
				</div>

			</div>
    </div>
    <div class="">
      <div class="container">
      <h1>How You Can Contribute?</h1>
      <img src="https://marsdd.com/wp-content/uploads/2020/04/5-ways-AI-is-helping-put-the-brakes-on-COVID-19.jpg" class="full">
			Every small effort makes a difference across the world! Your small effort can help the Covid'19 warriors to win the battle against corona and help the world to get out of this pandemic. Here are some things one can do to contribute in this battle:-
				<ul class="fa-ul" style="list-style:none;">
				<li><span class="fa-li"><i class="fas fa-arrow-circle-right"></i></span><b>Stay Home! Stay Safe! - </b>Don't go out of your house unless it's absolutely necessary.</li>
				<li><span class="fa-li"><i class="fas fa-arrow-circle-right"></i></span><b>Follow Guidelines - </b>The first and foremost thing one should do is protect themselves first by following all the guidelines given by the government. </li>
				<li><span class="fa-li"><i class="fas fa-arrow-circle-right"></i></span><b>Report fraud - </b>Report fraudulent Covid-19 tests, vaccines and treatments and become a responsible citizen of the country!</li>
				<li><span class="fa-li"><i class="fas fa-arrow-circle-right"></i></span><b>Donate - </b>If you've got enough resources for yourselves then donate excess resources to needy people. </li>
				<li><span class="fa-li"><i class="fas fa-arrow-circle-right"></i></span><b>Voluteer - </b>If you are between 18-55 then be a volunteer in this battle in the nearby areas. But don't forget to follow all precautions. </li>
				<li><span class="fa-li"><i class="fas fa-arrow-circle-right"></i></span><b>Be Polite - </b>If you know any Covid'19 fighter or patient then don't misbehave with them. They are going through a lot. So be polite with them.</li>
				<li><span class="fa-li"><i class="fas fa-arrow-circle-right"></i></span><b>Spread Awareeness - </b>Spread right informaion about this pandemic among people as there is so many misleading/wrong info flooding across social media.</li>
			</ul>
			<br><br><br><br><br><br>
			</div>
    </div>
		<div style="background-color:white;">
<br />
			<h1>Featured Warriors!</h1>
			<br /><br />
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-12">
	                <div id="imageCarousel" class="carousel slide" data-interval="2000"
	                     data-ride="carousel" data-pause="hover" data-wrap="true">

	                    <ol class="carousel-indicators">
	                        <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
	                        <li data-target="#imageCarousel" data-slide-to="1"></li>
	                        <li data-target="#imageCarousel" data-slide-to="2"></li>
	                    </ol>

	                    <div class="carousel-inner">
	                        <div class="item active">
	                            <div class="row">
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535009/Capture_mgm1m6.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Yog Raj Mengi</h3>
	                                        <p style="color:#ffbf00">This 74-yr-old pensioner has distributed over 6000 masks made by him from his monthly pension. He is now distributing free ration also.</p>
	                                    </div>
	                                </div>
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535218/y_tmjxkx.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Arif Khan</h3>
	                                        <p style="color: #44c6ff;">Mr. Khan set up 12 community kitchens. With a takeaway facility, the kitchens have benefitted more than 12 Lakh People.</p>
	                                    </div>
	                                </div>
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535264/z_wstxul.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Shree Rahul Society</h3>
	                                        <p style="color:#1f1b1d">This education society is supporting ‘Education for all’ during the Covid-19 pandemic through free Google Classroom Sessions</p>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="item">
	                            <div class="row">
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535301/w_po3kjs.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Dr Chinmay</h3>
	                                        <p>He has been treating critical patients and managed treatment of over 1500 patients with a team at their hospital and hence bringing positivity.</p>
	                                    </div>
	                                </div>
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535343/x_mbgvrf.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Arvind Shah</h3>
	                                        <p style="color: #b4ff00">This social entrepreneur provided meals to 300 people twice daily for 3 months along with provision of 6500 ration kits </p>
	                                    </div>
	                                </div>
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535341/u_et8ftu.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Seema Parakh</h3>
	                                        <p style="color: #ff5252">She has helped thousands during the Covid-19 pandemic by being available 24/7 when she saw a spike in mental health issues.</p>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>

	                        <div class="item">
	                            <div class="row">
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535385/v_rnkbdf.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Deep Chand</h3>
	                                        <p style="color:#d8f9f9;">This wardboy has not only treated people but boosted the patient's and family's moral by passing on the information.</p>
	                                    </div>
	                                </div>
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535384/s_hpjwhu.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Shashi Ranjan</h3>
	                                        <p style="color:#00ffe7">This IIT and Stanford alumni developed machine to sterilise public places and planned to open the technology so that anyone can make the device by themselves.</p>
	                                    </div>
	                                </div>
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535383/p_tia5fx.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Tejesh Sonawane</h3>
	                                        <p style="color:#0c0000">This khaki wearing superhero has been ferrying the needy to medical aid in his modified ‘Omni’-Ambulance for free.</p>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>

	                    <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
	                        <span class="glyphicon glyphicon-chevron-left"></span>
	                    </a>
	                    <a href="#imageCarousel" class="carousel-control right" data-slide="next">
	                        <span class="glyphicon glyphicon-chevron-right"></span>
	                    </a>
	                </div>
	            </div>
	        </div>
	    </div>
			<br /><br /><br /><br />
		</div>
<br /><br /><br>

	 	<div id="footer">
			<div class="row">
				<div class="col-sm-6">
					<h3>CONTACT US AT:</h3><br>
					<a href="https://www.facebook.com/vidhi.arora.779857/"><i style="font-size:45px;color:white; margin-right:24px;" class="fab fa-facebook-square"></i></a>
					    <a href="https://www.instagram.com/i_vidhiarora/"><i style="font-size:45px;color:white; margin-right:24px;" class="fab fa-instagram-square"></i></a>
					<a href="mailto:vidhiarora1710@gmail.com" target="_blank"><i style="font-size:46px;color:white;" class="fas fa-envelope"></i></a>
				</div>
				<div class="col-sm-6">
					<br>
					<span style="font-size:16px;">Made with <i class="fa fa-heart" aria-hidden="true"></i> by Vidhi Arora</span><br>
				</div>
			</div>
		</div>
 	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
