<html>
<head>
	<title>Helping Hands</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
	<link href="https://fonts.googleapis.com/css?family=Monoton|Noto+Serif+JP:900|Sen&display=swap" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Great Vibes' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="landing.css">
</head>
<body>
	<div id="cont">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
				    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        			<span class="sr-only">Toggle navigation</span>
	        			<span class="icon-bar"></span>
	        			<span class="icon-bar"></span>
	        			<span class="icon-bar"></span>
	      			</button>
					<a href="\" class="navbar-brand">
						<img width="40px" src="https://cfncw.org/wp-content/uploads/2015/04/helping-hands-bg.png" alt="">
	          <span id="head">HelpingHands</span>
	          <span id="subhead">Fighting Mental Health Stigma</span>
					</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/volunteer">Volunteering</a></li>
						<li><a href="/activity">Activities</a></li>
						<li><a href="/blogs">Blogs</a></li>
						
						<li><a href="/login">Login</a></li>
						<li><a href="/register">SignUp</a></li>
	
					</ul>
				</div>
			</div>
		</nav>
	 	<img src="https://hbr.org/resources/images/article_assets/2018/10/Oct22_18_862457080.png" id="mimg">
	 	<div id="heading">MENTAL HEALTH</div>
		<br><br>
	 	<h1>Facts</h1>
	 	<div class="cover1">
	 	   <div class="text1">
				 <div class="row">
					 <div id="cen">
						 <div class="col-lg-4" id="fl">
							 <b>AVERAGE SUICIDE RATE IN INDIA</b><br>
							 10.9 for every lakh people 
						 </div>
						 <div class="col-lg-4">
							 <b>PEOPLE SUFFERING FROM MENTAL ILLNESS</b><br>
							 60 to 70 million people
						 </div>
						 <div class="col-lg-4">
							 <b>SUICIDE CASES IN INDIA</b><br>
							 2.6 lakh cases per year
						 </div>
					 </div>
				</div>
				<br>
				 <p>Mental Health Illnesses is about a person’s mental and emotional well-being. Good mental health or being mentally sound would mean that one possesses a balanced mind, confidence, and self-esteem. A mental illness is a problem that significantly affects how a person thinks, perceives, and reacts.
				</p>
				<p>Mental health in India is still a fairly new topic and the mental health myths and taboos attached to this subject are prevalent to this date. According to the National Health program by the Ministry of health and family welfare, 1 in a 5 has some emotional and behavioral problems. 50% of mental health conditions begin by age 14 and 75% of mental health conditions develop by age 24. India is the world’s suicide capital having highest suicide rate in South-East Asia but still no proper prevention stratergy has been build up by now.
				</p>
				<p>In 2017, India acknowledged this by enacting the National Mental Healthcare Act “to provide for mental healthcare and services for persons with mental illness and to protect, promote and fulfill the rights of such persons during delivery of mental healthcare and services.”
  	 	</div>
  	</div>
    <div class="blackb">
      <div class="container">
        <h1>What Are We Doing?</h1>
				<br>
        <img src="https://www.insperity.com/wp-content/uploads/Mental_health1200x630.png" class="full" alt="">
				<div class="row" style="text-align:center;">
					<div class="container">
						<div class="col-md-4">
							<i style="font-size:35px" class="fas fa-users"></i>
							<br><b style="font-size:20px;"><%= v %><br>VOLUNTEERS</b><br>registered
						</div>

						<div class="col-md-4">
							<i style="font-size:35px" class="fas fa-smile-beam"></i>
							<br><b style="font-size:20px;">11<br>ACTIVITIES</b><br>made available
						</div>
						<div class="col-md-4">
							<i style="font-size:35px" class="fas fa-blog"></i>
							<br><b style="font-size:20px;"><%= b %><br>BLOGS</b><br>written
						</div>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-sm-6">
						HelpingHand's motive is to help people through-out the world by providing a platform to fight and overcome the stigma related to mental-health. The motive of this website is to help the people suffering from mental-illness in any possible way we can. HelpingHands have tied hands with several organisations to promote mind-relaxing acrivities. Also people can volunteer themselves to help the sufferers, or spread awarness through blogs.
						<br><b>Volunteering - </b>HelpingHands believe that together we can bring a change in society. Hence we provide you a platform to get involved with the initiative taken by HelpingHands for mental health in a number of ways, depending on your area of interest and your capacity. To volunteer, partner with us or support us, please fill the form given in the Volnteering section.
					</div>
					<div class="col-sm-6">
						<b>Activities - </b>Mental health activities are things you can do to improve your mental health. Engaging in wellness activities can have a positive effect on your health and wellness, as well as your sense of inner peace. HelpingHands has tied hands with several organisation where you can perform these activities. You just need to fill out a form for registering yourself in these activities.
						<br><b>Blogs - </b>For the large Indian population to be involved in its own mental health, the only way forward is through enhancing mental health awareness. With rising awareness, it can be expected that early recognition and access to treatment will follow, as will the adoption of preventive measures. Therefore, we have opened a portal for you to write your point of views and spread the right messages through out the world.
					</div>
				</div>

			</div>
    </div>
    <div class="">
      <div class="container">
      <h1>How You Can Contribute?</h1>
      <img src="https://sabrangindia.in/sites/default/files/field/image/mentalhealth-crop-1200x649.jpg" class="full">
			Every small effort makes a difference across the world! Your small effort can help the suffers to win the battle against mental illness and help the world to become a better place. Here are some things one can do to contribute in this battle:-
				<ul class="fa-ul" style="list-style:none;">
				<li><span class="fa-li"><i class="fas fa-arrow-circle-right"></i></span><b>Talk Out! - </b>The most important thing one can do is to talk to the sufferer and help them overcome the situation.</li>
				<li><span class="fa-li"><i class="fas fa-arrow-circle-right"></i></span><b>Report fraud - </b>Report fraudulent Covid-19 tests, vaccines and treatments and become a responsible citizen of the country!</li>
				<li><span class="fa-li"><i class="fas fa-arrow-circle-right"></i></span><b>Donate - </b>There are severa organisations out there that need monetary help to fight this battle. Donate there </li>
				<li><span class="fa-li"><i class="fas fa-arrow-circle-right"></i></span><b>Voluteer - </b>If you are willing to help the people out here then be a volunteer in this battle. </li>
					<li><span class="fa-li"><i class="fas fa-arrow-circle-right"></i></span><b>Be Polite - </b>People with depression are already suffering. The least you can do is be polite with them.</li>
				<li><span class="fa-li"><i class="fas fa-arrow-circle-right"></i></span><b>Spread Awareeness - </b>Spread right informaion about mental health issues among people as there is so many misleading/wrong info flooding across people.</li>
			</ul>
			<br><br><br><br><br><br>
			</div>
    </div>
		<div style="background-color:white;">
<br />
			<!-- <h1>Featured Warriors!</h1>
			<br /><br />
	    <div class="container">
	        <div class="row">
	            <div class="col-xs-12">
	                <div id="imageCarousel" class="carousel slide" data-interval="5000"
	                     data-ride="carousel" data-pause="hover" data-wrap="true">

	                    <ol class="carousel-indicators">
	                        <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
	                        <li data-target="#imageCarousel" data-slide-to="1"></li>
	                        <li data-target="#imageCarousel" data-slide-to="2"></li>
	                    </ol>

	                    <div class="carousel-inner">
	                        <div class="item active">
	                            <div class="row">
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535009/Capture_mgm1m6.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Yog Raj Mengi</h3>
	                                        <p style="color:#ffbf00">This 74-yr-old pensioner has distributed over 6000 masks made by him from his monthly pension. He is now distributing free ration also.</p>
	                                    </div>
	                                </div>
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535218/y_tmjxkx.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Arif Khan</h3>
	                                        <p style="color: #44c6ff;">Mr. Khan set up 12 community kitchens. With a takeaway facility, the kitchens have benefitted more than 12 Lakh People.</p>
	                                    </div>
	                                </div>
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535264/z_wstxul.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Shree Rahul Society</h3>
	                                        <p style="color:#1f1b1d">This education society is supporting ‘Education for all’ during the Covid-19 pandemic through free Google Classroom Sessions</p>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="item">
	                            <div class="row">
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535301/w_po3kjs.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Dr Chinmay</h3>
	                                        <p>He has been treating critical patients and managed treatment of over 1500 patients with a team at their hospital and hence bringing positivity.</p>
	                                    </div>
	                                </div>
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535343/x_mbgvrf.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Arvind Shah</h3>
	                                        <p style="color: #b4ff00">This social entrepreneur provided meals to 300 people twice daily for 3 months along with provision of 6500 ration kits </p>
	                                    </div>
	                                </div>
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535341/u_et8ftu.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Seema Parakh</h3>
	                                        <p style="color: #ff5252">She has helped thousands during the Covid-19 pandemic by being available 24/7 when she saw a spike in mental health issues.</p>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>

	                        <div class="item">
	                            <div class="row">
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535385/v_rnkbdf.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Deep Chand</h3>
	                                        <p style="color:#d8f9f9;">This wardboy has not only treated people but boosted the patient's and family's moral by passing on the information.</p>
	                                    </div>
	                                </div>
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535384/s_hpjwhu.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Shashi Ranjan</h3>
	                                        <p style="color:#00ffe7">This IIT and Stanford alumni developed machine to sterilise public places and planned to open the technology so that anyone can make the device by themselves.</p>
	                                    </div>
	                                </div>
	                                <div class="col-xs-4">
	                                    <img src="https://res.cloudinary.com/dxxdezndr/image/upload/v1603535383/p_tia5fx.png" class="img-responsive">
	                                    <div class="carousel-caption">
	                                        <h3>Tejesh Sonawane</h3>
	                                        <p style="color:#0c0000">This khaki wearing superhero has been ferrying the needy to medical aid in his modified ‘Omni’-Ambulance for free.</p>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>

	                    <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
	                        <span class="glyphicon glyphicon-chevron-left"></span>
	                    </a>
	                    <a href="#imageCarousel" class="carousel-control right" data-slide="next">
	                        <span class="glyphicon glyphicon-chevron-right"></span>
	                    </a>
	                </div>
	            </div>
	        </div>
	    </div>
			<br /><br /><br /><br />
		</div> -->
<br /><br /><br />

	 	<div id="footer">
			<div class="row">
				<div class="col-sm-6">
					<h3>CONTACT US AT:</h3><br>
					<a href="https://www.facebook.com/vidhi.arora.779857/"><i style="font-size:45px;color:white; margin-right:24px;" class="fab fa-facebook-square"></i></a>
					    <a href="https://www.instagram.com/i_vidhiarora/"><i style="font-size:45px;color:white; margin-right:24px;" class="fab fa-instagram-square"></i></a>
					<a href="mailto:vidhiarora1710@gmail.com" target="_blank"><i style="font-size:46px;color:white;" class="fas fa-envelope"></i></a>
				</div>
				<div class="col-sm-6">
					<br>
					<span style="font-size:16px;">Made with <i class="fa fa-heart" aria-hidden="true"></i> by Team Webdoers</span><br>
				</div>
			</div>
		</div>
 	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
