#cont{
	margin: 0 auto;
}
body{
	background: url("https://t3.ftcdn.net/jpg/01/84/62/36/240_F_184623690_5zlHB3MRASqKWiRcjAcBP2YfAORHhZOd.jpg");
	font-family: 'Sen', sans-serif;
	/* overflow-x: hidden; */
}
td{
	padding: 5px;
	font-size: 16px;
}
th{
	padding: 5px;
	background: skyblue;
	font-weight: bold;
	font-size: 21px;
}
@media only screen and (max-width: 591px) {
  th {
    font-size: 14px;
  }
}
@media only screen and (max-width: 591px) {
  td {
    font-size: 12px;
  }
}
#city{
	padding-right:180px;
}
@media only screen and (max-width: 591px) {
  #city{
    padding-right:40px;
  }
}
#iname{
	padding-right:100px;
}
@media only screen and (max-width: 591px) {
  #iname{
    padding-right:44px;
  }
}
#dname{
	padding-right:60px;
}
@media only screen and (max-width: 591px) {
  #dname{
    padding-right:50px;
  }
}

h1{
	text-align: center;
	font-family: 'Noto Serif JP', serif;
	margin-top: 50px;
	text-shadow: 3px 3px skyblue;
}
#x{
	margin-top: 160px;
}
@media only screen and (max-width: 991px) {
  #x {
    margin-top: 0;
  }
}
#head{
  position: absolute;
  top:13px;
  left:56px;
  font-size: 20px;
  font-weight: bold;
}
#subhead{
  font-size: 11px;
  position: absolute;
  top: 29px;
  left: 56px;
}
#heading{
  position: absolute;
  font-family: 'Monoton', cursive;
  top: 75%;
	text-align: center;
  left: 55%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 4em;
}
.btn-primary:hover{
	background: skyblue;
  color: black;
}
.btn-primary{ /* button */
	background: black;
	color: white;
  border-color: black;
}
.navbar{
	background: black;
	margin:0;
	border: 0 solid black;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav>li>a:hover{
	color: skyblue;
}
.navbar-default .navbar-brand:hover{
	color: skyblue;
}
#footer{
	width:100%;
	height:180;
	color: white;
	background: black;
	text-align: center;
	padding:15px;
}
.fa-heart{
	color: red;
}
.navbar-default .navbar-nav>li>a:active{
	background: white;
}
.navbar-default .navbar-brand:active{
	background: white;
};
